@model CRUDemo.Models.CandidateInfo
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Candidate Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.State)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Republicans)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Republicans)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Democrats)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Democrats)
        </dt>

    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="=Index">Back to List</a>
    </form>
</div>


