@model IEnumerable<CRUDemo.Models.CandidateInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">New Candidate</a>
</p>

@*For Display Candidate Info*@
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.First)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.)*@
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach(var can in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => can.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => can.Republicans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => can.Democrats)
            </td>
            @*<td>
                <a asp-action="index" asp-controller="home"><img src="@Url.Content(can.ImageProxy)" width="50" /></a>
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@can.ID">Edit</a>
                <a asp-action="Details" asp-route-id="@can.ID">Details</a>
                <a asp-action="Delete" asp-route-id="@can.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

